@model PizzoriaRistorante.Models.Ordini

@{
    ViewBag.Title = "Finalizza Ordine";
}
<div class="container fForm bg-dark  border border-warning border-3 p-3 mt-3">
    <h2 class="fTitle">Finalizza Ordine</h2>

    <p>Sei sicuro di voler finalizzare l'ordine @Model.OrderId?</p>

    @using (Html.BeginForm("FinalizzaOrdine", "Prodotti", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="id" value="@Model.OrderId" />

        <div class="form-group">
            <label for="shippingAddress">Indirizzo di Spedizione</label>
            <input type="text" class="form-control" id="shippingAddress" name="shippingAddress" placeholder="Inserisci l'indirizzo di spedizione" required>
            <label for="notes">Note</label>
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Inserisci Note" required>
        </div>

        <input type="submit" value="Finalizza Ordine" class="botton" />
    }
</div>