@model PizzoriaRistorante.Models.Ordini

@{
    ViewBag.Title = "Finalizza Ordine";
}

<h2>Finalizza Ordine</h2>

<p>Sei sicuro di voler finalizzare l'ordine @Model.OrderId?</p>

@using (Html.BeginForm("FinalizzaOrdine", "Prodotti", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@Model.OrderId" />

    <input type="submit" value="Finalizza Ordine" class="btn btn-default" />
}
