<div class="container ms-3 mt-3">
    <h2 class="text-warning fTitle fs-1 fw-bold">Benvenuto Da Mordi & Fuggi</h2>
    <main class="d-flex fForm flex-column fs-3 text-light">

        <p class="fForm">Effettua il Login per ordinare i nostri Prodotti</p>
        <span> @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "botton" })</span>
        <span class="fForm"> Non sei ancora registrato?</span>
        <span> @Html.ActionLink("Registrati", "Register", "Account", new { area = "" }, new { @class = "botton" })</span>


    </main>
</div>